<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.ly.mapper.UserInfoMapper">
	<!-- 开启本mapper的namespace的二级缓存  
	type指定cache的实现类型，默认实现PerpetualCache,要和Ehcache整合，要配置type类型为Ehcache的接口类型
	-->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
	<!-- 定义一个sql片段 -->
	<sql id="query_userInfo_where">
		<if test="userInfoCustom!=null">
			<if test="userInfoCustom.sex!=null and userInfoCustom.sex!=''">
				and sex=#{userInfoCustom.sex}
			</if>
			<if test="userInfoCustom.username!=null and userInfoCustom.username!=''">
				and username like '%${userInfoCustom.username}%'
			</if>
		</if>
		<!-- AND (userid=1003 OR userid=1008 OR userid=1106) -->
		<!-- <if test="userids!=null">
			<foreach collection="userids" item="userid" open="AND (" close=")" separator="OR">
				userid=#{userid}
			</foreach>
		</if> -->
		<!-- userid in (1003,1008,1106)拼接 -->
		<if test="userids!=null">
		    <foreach collection="userids" item="userid" open="and userid in (" close=")" separator=",">
				#{userid}
			</foreach>
		</if>
	</sql>

	<!-- 定义resultMap 将select userid userid_, username username_ from userinfo结果和UserInfo的属性进行映射-->
	<resultMap type="com.hy.ly.entity.UserInfo" id="userInfoResultMap">
		<id column="userid_" property="userid"/>
		<result column="username_" property="username"/>
	</resultMap>

	<!-- 用户信息的结合查询 -->
	<select id="findUserInfoList" resultType="com.hy.ly.entity.UserInfoCustom" parameterType="com.hy.ly.entity.UserInfoQueryVo">
		select * from userinfo 
		<where>
		    <!-- 引用sql片段 -->
			<include refid="query_userInfo_where"></include>
			<!-- 在这里还可以引用其它的sql片段 -->
		</where>
	</select>
	<!-- 用户信息的结合查询总数 -->
	<select id="findUserInfoCount" parameterType="com.hy.ly.entity.UserInfoQueryVo" resultType="java.lang.Integer">
		select count(*) from userinfo 
		<where>
			<include refid="query_userInfo_where"></include>
		</where>
	</select>
	<!-- 作用resultMap来完成输出的映射 -->
	<select id="findUserInfoByResultMap" resultMap="userInfoResultMap" parameterType="int">
		select userid userid_, username username_ from userinfo where userid = #{userid}
	</select>
	<!-- useCache="false"可以禁用二级缓存  -->
	<select id="findUserInfoById" resultType="com.hy.ly.entity.UserInfo"
		parameterType="int">
		select * from userinfo where userid = #{userid}
	</select>
	<select id="findUserByName" resultType="com.hy.ly.entity.UserInfo"
		parameterType="java.lang.String">
		select * from userinfo where username like '%${value}%'
	</select>
	<insert id="insertUserInfo" parameterType="com.hy.ly.entity.UserInfo">
		<!-- <selectKey keyProperty="userid" order="AFTER" resultType="java.lang.Integer">
			SELECT LAST_INSERT_ID();
		</selectKey> -->
		INSERT INTO userinfo(username,birthday,sex,address)
		VALUE(#{username},#{birthday},#{sex},#{address});
	</insert>
	<delete id="deleteUserInfo" parameterType="java.lang.Integer">
		DELETE FROM userinfo WHERE userid=#{userid}
	</delete>
	<update id="updateUserInfo" parameterType="com.hy.ly.entity.UserInfo">
		UPDATE userinfo SET
		username=#{username},birthday=#{birthday},sex=#{sex},address=#{address}
		WHERE userid=#{userid}
	</update>

</mapper>